# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / NPM (caso o projeto acabe virando JS/TS futuramente)
node_modules/
npm-debug.log
yarn-error.log

# Python (caso vire Python futuramente)
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
